.header {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-image: url("../../assets/images/general/header-img.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  align-items: left;
  margin-top:84px;
}

.headerContainer {
  height: 310px;
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 20px;
  justify-content: center;
  padding: 23px;
  line-height: 1.6em;
}

.headerTitle,
.headerText {
  color: white;
  margin: 0;
  padding: 0;
}
.headerTitle {
  font-size: 30px;
  font-weight: 900;
  font-family: "tbcBOLD";
}
.headerText {
  font-size: 28px;
  font-weight: 700;
  text-wrap: wrap;
  line-height: 50px;
  font-family: "tbcBOLD", sans-serif;
}
@media only screen and (min-width: 1050px) {
  .headerContainer {
    width: 1000px;
    gap: 30px;
  }
  .header {
    align-items: center;
    padding: 0px;
  }
  .headerTitle {
    font-size: 42px;
  }
  .headerText {
    font-size: 34px;
  }
}
