.motto {
  background-color: #2b2b2b;
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: left;
  padding: 23px;
}
.mottoText {
  color: #f4f4f4;
  font-size: 20px;
  line-height: 1.35em;
  letter-spacing: normal;
  width: 100%;
  font-weight: normal;
}

.mottoLink {
  color: #16abec;
  cursor: pointer;
  font-weight: 700;
  font-size: 20px;
  text-decoration: none;
  margin-bottom: 30px;
}
.mottoLink:hover {
    color: #eae3d9;
}
@media only screen and (min-width: 1050px) {
    .motto {
      align-items: center;
      padding: 0px;
      gap: 20px;
    }
    .mottoText {
        font-size: 28px;
        width: 1000px;
        margin-top: 62px;
        line-height: 1.6em;
    }
    .mottoLink {
        width: 1000px;
        font-size: 20px;
        margin-bottom: 62px;
    }
  }