.navbar {
  background: #1a1e1f;
  width: 100%;
  height: 84px;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  top: 0;
  opacity: 0.9;
}
.menuOpen .mobileMenuContainer {
  display: flex;
  right: 0;
  justify-content: end;
  transition: 0.5s ease-in-out;
}

.mobileOverlay {
  width: 100vw;
  height: 100%;
  position: fixed;
  background-color: #1d1a1a;
  z-index: 10;
  display: none;
  opacity: 0.6;
}
.mobileMenuContainer {
  background-color: #222222;
  position: fixed;
  width: 57%;
  height: 100%;
  top: 0;
  right: -57%;
  display: flex;
  z-index: 10000;
  transition: 0.5s ease-in-out;
  color: #f4f4f4;
  font-weight: bold;
  text-align: left;
  font-size: medium;
}
.itemsWrapper {
  display: flex;
  align-items: flex-end;
  margin-top: 100px;
  gap: 38px;
  padding: 16px;
  flex-direction: column;
}
.navbarContainer {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  gap: 50px;
  padding-left: 23px;
  padding-right: 23px;
}
.navbarLogo {
  height: 41px;
}
.item {
  margin: 0;
  cursor: pointer;
  font-size: 14px;
  text-decoration: none;
  color: #f4f4f4;
  transition: all 0.3s ease-in-out;
}
.item:hover {
  color: #16abec;
}
.active {
  color: #16abec;
}
.itemsDesktopWrapper {
  display: none;
  align-items: flex-end;
  justify-content: space-between;
  flex-direction: row;
  color: white;
  gap: 50px;
  margin-right: 12px;
}
.itemDesktop {
  margin: 0;
}
.hamburgerWrapper {
  display: flex;
  flex-direction: column;
  gap: 7.4px;
  cursor: pointer;
  z-index: 30000;
  position: fixed;
  right: 23px;
  top: 35px;
}
.hamburgerTopStick {
  width: 13px;
  height: 3px;
  border-radius: 2px;
  background-color: #dbdbdb;
  align-self: flex-start;
}
.hamburgerMiddleStick {
  width: 26px;
  height: 3px;
  border-radius: 2px;
  background-color: #dbdbdb;
}
.hamburgerBottomStick {
  width: 13px;
  height: 3px;
  border-radius: 2px;
  background-color: #dbdbdb;
  align-self: flex-end;
}
.rotate .hamburgerTopStick {
  transform: translateX(2px) translateY(6px) rotate(-135deg);
  opacity: 0.5;
  transition: transform 0.33s cubic-bezier(0.54, -0.81, 0.57, 0.57);
}

.rotate .hamburgerMiddleStick {
  transform: rotate(-45deg);
  opacity: 0.5;
  transition: transform 0.33s ease-out;
}

.rotate .hamburgerBottomStick {
  transform: translateX(-2px) translateY(-6px) rotate(-135deg);
  opacity: 0.5;
  transition: transform 0.33s cubic-bezier(0.54, -0.81, 0.57, 0.57);
}

@media only screen and (min-width: 768px) {
  .hamburgerWrapper {
    display: none;
  }
  .menuOpen .mobileMenu {
    display: none;
  }
  .itemsDesktopWrapper {
    display: flex;
  }
  .navbar {
    opacity: 1;
  }
  .menuOpen .mobileMenuContainer {
    display: none;
  }
}
@media only screen and (min-width: 1050px) {
  .navbarContainer {
    width: 980px;
    padding-left: 0px;
    padding-right: 0px;
  }
}
